# Environment
GUARDIAN_ENV=dev

# Filesystem Storage
GUARDIAN_STORAGE_PATH=/var/guardian/storage
GUARDIAN_METADATA_PATH=/var/guardian/metadata
GUARDIAN_KEYSTORE_PATH=/var/guardian/keystore

# Postgres Storage
POSTGRES_PASSWORD=guardian_dev_password
DATABASE_URL=postgres://guardian:${POSTGRES_PASSWORD}@localhost:5432/guardian
